.todocard {
  background-color: #c9c6c6;
  border-radius: 10px;
  margin-bottom: 1px;
  padding: 3px 140px 9px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}

.todocard div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.todocard .tasktext {
  flex: 1;
}
.todocard .done .tasktext {
  text-decoration: line-through;
  color: #2e7d32;
  opacity: 0.5;
}

.tasknumber {
  color: #838282;
  border: 1px solid #838282;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  margin-top: 7px;
  align-items: center;
  justify-content: center;
}

.btnblock {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: auto;
  display: inline-block;
}

.todocard .btnblock span {
  border: 1px solid #c9c6c6;
  background-color: #c9c6c6;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
}

.todocard .btnblock span:hover {
  border: 1px solid #b3b1b1;
  border-radius: 50%;
  background-color: #b3b1b1;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
